.form {
    display: flex;
    margin: 10px auto 10px;
    input {
        width: 170px;
        padding: 5px 10px;
        border: none;
        outline: none;
        transition: border-color 0.4s ease;
        border: 1px solid transparent;
        margin-right: 15px;
        &:focus {
            border-color: lightblue;
        }
    }
}
